@import "./Home.css";
@import "./Question.css";
@import "./Result.css";

body {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  justify-content: center;
  color: var(--font-color);
}
.wrapper {
  margin: 20px auto;
  background-color: var(--sub-bg-color);
  border-radius: 25px;
  padding: 30px 20px;
  width: 400px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.adfit {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  text-align: center;
  margin-top: 15px;
  transition: background-color 0.5s ease-in-out;
  width: 300px;
  height: 50px;
  border-radius: 30px;
  font-size: 20px;
  border: none;
  background-color: #f6b352;
  animation: jaehee 0.3s linear;
  color: var(--font-color);
}

:root {
  --main-bg-color: #f68657;
  --font-color: #754f44;
  --sub-bg-color: #ffffff;
}
