.question__number {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
.question__text {
  text-align: center;
  font-size: 20px;
}
.question__number {
  margin-top: 20px;
}
.question__text {
  margin-bottom: 20px;
}
