.result__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeInUp 0.5s linear;
  animation-delay: 3s;
}
.result__title {
  text-align: center;
}
.result__description {
  display: flex;
  margin-top: 15px;
}
.result__phrase {
  /* background-color: #e0e3da; */
  background-color: #ffeaa7;
  border-radius: 5px;
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  margin-bottom: 15px;
  border: 1.8px solid var(--font-color);
}

.result__phrase div {
  margin-top: 5px;
  text-align: center;
}
.result__phrase div:nth-child(2) {
  font-size: 13px;
}
.splash-screen {
  background-color: var(--main-bg-color);
  position: absolute;
  height: 100vh;
  width: 400px;
  top: 0;
  text-align: center;
  padding-top: 150px;
  font-size: 30px;
  animation: hideSplashScreen 0.4s ease-in-out forwards; /*애니메이션이 실행되는 시간 실행 후 유지 */
  animation-delay: 3s; /*n초 뒤에 애니메이션 실행*/
}
footer {
  margin-top: 50px;
  font-size: 10px;
}
@keyframes fadeInUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
