.result__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result__title {
  text-align: center;
}
.result__description {
}
.result__phrase {
  background-color: #e0e3da;
  border-radius: 5px;
  width: 330px;
  display: flex;
  justify-content: center;
  padding: 10px 5px;
  margin-bottom: 30px;
}
